
%dl.styleguide
  %a(id="#{page[:name]}")
  %dt.page-title
    = page[:name].titleize
  - notes = page[:notes]
  - if notes
    %dd.notes
      .row
        .small-12.column
          .wrapper
            %h3.notes-title # Notes
            = render_haml_string(notes)

  %dd.preview
    = render_haml_string(page[:contents])

  %dd.location-title
    .location= page[:filepath]
    %pre<
      %code(class="#{page[:lang]}")= page[:contents]
