
%dl.styleguide
  %a(id="#{page[:name]}")
  %dt.page-title
    = page[:name].titleize
  - notes = page[:notes]
  - if notes && notes[:content].present?
    %dd.notes
      .row
        .small-12.column
          .wrapper
            %h3.notes-title # Notes
            = render_contents_string(notes)

  %dd.preview
    = render_contents_string(page[:markup])

  %dd.location-title
    .location= page[:filepath]
    %pre
      %code(class="#{page[:lang]}")= "#{render_contents_string(page[:markup])}"
